<div class="container-fluid pt-5 text-white">
  <div class="row">
    <div class="col-1">

    </div>

    <div class="col-10 p-0">
      <img src="{{url_base}}/assets/img/generic/portfolio-techbase.png" class="img-fluid mb-5" alt="" />

    </div>
    <div class="col-1">

    </div>
  </div>
</div>




<div class="container container-lg py-5 my-5 px-5">
  <div class="col-12">
    <h1 class="text-md-15 mb-5">techbase</h1>
  </div>
  <div class="col-12">
    <p class="font-regular text-md-6 text-justify line-height-md-6 py-4 pb-5">Ocupando um lugar de destaque no mundo empresarial, a Techbase oferece soluções de integração de sistemas de gestão personalizadas para empresas. O nosso desafio foi construir uma identidade visual tão criativa e dinâmica como as soluções personalizadas que a Techbase disponibiliza aos seus clientes.</p>
  </div>
</div>

<div class="container-fluid pt-5 text-white">
  <div class="row">
    <div class="col-1">

    </div>

    <div class="col-10 p-0">
      <img src="{{url_base}}/assets/img/generic/techbase-branding1.png" class="img-fluid" alt="" />
      <img src="{{url_base}}/assets/img/generic/techbase-branding2.png" class="img-fluid" alt="" />

    </div>
    <div class="col-1">

    </div>
  </div>
</div>





<div class="container container-xl">
  <div class="row text-center py-5">
      <div class="col-6">
        <a class="orange-border text-3-5" href="#">Anterior</a>
      </div>
      <div class="col-6">
        <a class="orange-border text-3-5" href="#">Seguinte</a>
      </div>
    </div>
  </div>
