<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade">
				<img src="{{url_base}}/assets/img/slides/home-wallpaper.jpg"
					alt=""
					data-bgposition="center center"
					data-bgfit="cover"
					data-bgrepeat="no-repeat"
					class="rev-slidebg">


				<div class="tp-caption text-color-light font-weight-normal"
					data-x="center"
					data-y="center"
          data-voffset="['-120','-120','-120','-170']"
					data-start="700"
					data-fontsize="['16','25','30','40']"
					data-lineheight="['25','25','25','45']"
					data-transform_in="y:[-50%];opacity:0;s:500;"
					style="text-transform: uppercase; font-family: Axiforma Regular, Open Sans;">A NOSSA PAIXÃO E ORGULHO</div>

			</li>
		</ul>
	</div>
</div>

<div class="container-fluid pt-5 text-white">
  <div class="row">
    <div class="col-1">

    </div>

    <div class="col-10 p-0">
			<div class="container-fluid py-5">

			  <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="portfolio" data-option-key="filter">
			    <li class="nav-item active" data-option-value=".branding"><a class="nav-link text-1 text-uppercase active" href="javascript:void(0)">Branding</a></li>
			    <li class="nav-item" data-option-value=".web"><a class="nav-link text-1 text-uppercase" href="javascript:void(0)">Web</a></li>
			    <li class="nav-item" data-option-value=".marketing"><a class="nav-link text-1 text-uppercase" href="javascript:void(0)">Marketing</a></li>
			    <li class="nav-item" data-option-value=".editorial"><a class="nav-link text-1 text-uppercase" href="javascript:void(0)">Editorial</a></li>
			    <li class="nav-item" data-option-value=".video"><a class="nav-link text-1 text-uppercase" href="javascript:void(0)">Video</a></li>
			  </ul>

			  <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
			    <div class="row team-list sort-destination" data-sort-id="portfolio">

			      <div class="col-4 isotope-item branding pr-0">
			        <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 mw-100">
			          <span class="thumb-info-wrapper overlay overlay-color-primary overlay-show overlay-op-4">
			            <a href="{{url_base}}/portfolio/detalhe">
			              <img src="{{url_base}}/assets/img/generic/portfolio1.png" class="img-fluid" alt="">
			              </a>
			          </span>
			        </span>
			      </div>

			      <div class="col-4 isotope-item branding pr-0">
			        <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 mw-100">
			          <span class="thumb-info-wrapper overlay overlay-color-primary overlay-show overlay-op-4">
									<a href="{{url_base}}/portfolio/detalhe">
			              <img src="{{url_base}}/assets/img/generic/portfolio2.png" class="img-fluid" alt="">
			              </a>
			          </span>
			        </span>
			      </div>

			      <div class="col-4 isotope-item branding pr-0">
			        <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 mw-100">
			          <span class="thumb-info-wrapper overlay overlay-color-primary overlay-show overlay-op-4">
									<a href="{{url_base}}/portfolio/detalhe">
			              <img src="{{url_base}}/assets/img/generic/portfolio3.png" class="img-fluid" alt="">
			              </a>
			          </span>
			        </span>
			      </div>
			    </div>

			  </div>

			</div>

    </div>
    <div class="col-1">

    </div>
  </div>
</div>
