<div class="slider-container rev_slider_wrapper" style="height: 500px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/slides/slide-contacto.png"
          alt=""
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg">

          <div class="tp-caption font-weight-light text-center ws-normal"
  					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
  					data-x="center"
  					data-y="center" data-voffset="['8','8','8','70']"
  					data-width="['1070','1070','1070','1500']"
  					data-fontsize="['40','40','40','70']"
  					data-lineheight="['69','69','69','100']"
  					style="color: #e0e0e0;"><strong class="text-color-light axiforma-extra-bold">Saiba como entrar em contacto connosco.</strong></div>

      </li>
    </ul>
  </div>
</div>

<section class="call-to-action call-to-action-frutasclasse-2 py-5 appear-animation" data-appear-animation="fadeIn">
  <div class="container my-5 pb-5">
		<div class="row mb-4">
			<div class="col-md-6 col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
				<div class="featured-box featured-box-effect-4" style="height: 205px;">
					<div class="box-content px-5 pb-5">
            <div class="contacto-img pb-5">
              <img src="{{url_base}}/assets/img/icons/phone.svg" alt="">
            </div>
						<p class="axiforma-medium text-dark">Telefone: +(351) 262 910 172 <br>Fax: +(351) 262 910 171</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
				<div class="featured-box featured-box-effect-4" style="height: 205px;">
          <div class="box-content px-5 pb-5">
            <div class="contacto-img pb-5">
              <img src="{{url_base}}/assets/img/icons/map-marker.svg" alt="">
            </div>
						<p class="axiforma-medium text-dark">Rua das Poças, nº6 - Lugar do Bouro 2500-660 - Salir do Porto, Portugal</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
				<div class="featured-box featured-box-effect-4" style="height: 205px;">
          <div class="box-content px-5 pb-5">
            <div class="contacto-img pb-5">
              <img src="{{url_base}}/assets/img/icons/mail.svg" alt="">
            </div>
						<p class="axiforma-medium text-dark"> info@frutasclasse.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container-fluid frutasclasse-bg-3">
  <div class="row align-items-center">
    <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/generic/contact-pic.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
      <div class="row">
        <div class="col-12 text-center">
          <div class="call-to-action-content appear-animation" data-appear-animation="fadeInUpShorter">
            <div class="frutasclass-title pb-5 mt-4">
              <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace3.svg" alt=""></span>
              <span><p class="axiforma-light text-5 mb-0 px-2 frutasclasse-color-3">CONTACTE-NOS</p></span>
              <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace3.svg" alt=""></span>
            </div>
            <div class="frutasclass-title pb-5">
              <span><p class="axiforma-light text-5 mb-0 px-2 text-uppercase frutasclasse-color-3">Preencha o formulário abaixo e entre em contacto connosco.</p></span>
            </div>
          </div>
        </div>
  			<div class="col-12">
  				<form id="contactForm" class="frutasclasse-form-2" action="javascript:void(0);" method="POST" novalidate="novalidate">
  					<div class="contact-form-success alert alert-success d-none" id="contactSuccess">
  						<strong>Success!</strong> Your message has been sent to us.
  					</div>
  					<div class="contact-form-error alert alert-danger d-none" id="contactError">
  						<strong>Error!</strong> There was an error sending your message.
  						<span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
  					</div>

  					<div class="form-row">
  						<div class="form-group-contact col">
  							<input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="name" required="" placeholder="Nome*">
  						</div>
  					</div>
            <div class="form-row">
  						<div class="form-group-contact col">
  							<input type="email" value="" data-msg-required="Please enter the mail." maxlength="100" class="form-control" name="email" required="" placeholder="E-mail*">
  						</div>
  					</div>
            <div class="form-row">
  						<div class="form-group-contact col">
  							<input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="assunto" required="" placeholder="Assunto">
  						</div>
  					</div>
  					<div class="form-row">
  						<div class="form-group-contact col">
  							<textarea maxlength="5000" data-msg-required="Please enter your message." rows="3" class="form-control" name="message" required="" placeholder="Mensagem"></textarea>
  						</div>
  					</div>
  					<div class="form-row mt-4">
  						<div class="form-group-contact col">
  							<input type="submit" value="ENVIAR" class="btn btn-frutasclasse float-right px-5 my-3" data-loading-text="Loading...">
  						</div>
  					</div>
  				</form>

  			</div>

  		</div>
    </div>
  </div>
</div>
