<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade">
				<img src="{{url_base}}/assets/img/slides/home-wallpaper.jpg"
					alt=""
					data-bgposition="center center"
					data-bgfit="cover"
					data-bgrepeat="no-repeat"
					class="rev-slidebg">


				<div class="tp-caption text-color-light font-weight-normal"
					data-x="center"
					data-y="bottom"
					data-start="1"
					data-fontsize="['80','25','30','40']"
					data-lineheight="['25','25','25','45']"
					data-transform_in="y:[-50%];opacity:0;s:500;"
					style="text-transform: uppercase; font-family: Axiforma Regular, Open Sans;">Trabalhar juntos?</div>

			</li>
		</ul>
	</div>
</div>
