
<div class="container-fluid pt-5 text-white">
  <div class="row">
    <div class="col-1">

    </div>

    <div class="col-10 p-0">
      <img src="{{url_base}}/assets/img/generic/detalhe.png" class="img-fluid" alt="" />
    </div>
    <div class="col-1">

    </div>
  </div>
</div>




<div class="container container-xl pb-5 pt-5 ">
  <div class="row mx-5 px-5">
  <div class="col-12">
    <h1 class="font-regular text-md-12 pb-4">A importância da cor na identidade de uma marca!</h1>
  </div>
  <div class="col-12 font-regular text-md-4 mb-5">
    <p>
      Antes da forma, das letras ou dos detalhes, as pessoas reconhecem a cor. Uma característica que torna este um dos elementos mais importantes a considerar no desenvolvimento de uma marca.
      <br><br>
      As cores despertam sensações e emoções que se interligam à marca e que contribuem para criar uma imagem e um posicionamento único e que permite à empresa distinguir-se das demais.
      Desta forma, é necessário ter em atenção os valores da marca e a mensagem a passar aos consumidores-alvo, de forma a que as cores selecionadas estejam alinhadas com o posicionamento que se pretende alcançar. As próprias características e
      preferências do público-alvo são também aspetos essenciais a ponderar neste processo de decisão.
      <br><br>
      Outro aspeto a considerar é a própria concorrência. Por exemplo, se já existir uma empresa no mesmo setor / indústria com a mesma cor ou cores semelhantes, o ideal será escolher outro tom. Esta decisão poderá evitar que de a nova empresa seja
      vista como uma imitação da empresa já estabelecida.
      <br><br>
      Ainda a avaliar são os suportes de comunicar da marca / empresa. Um exemplo é a área web, onde a melhor opção é escolher tons que apelem à calma e a serenidade para não cansar os utilizadores.
      <br><br>
      No caso de ser uma empresa com produtos à venda, as cores têm também um papel fundamental. Estudos demonstram que 85% dos consumidores são altamente influenciados pela cor do produtos e que 93% dos consumidores afirmam que o aspeto visual de um
      produto é o fator mais importante na escolha que fazem.
      <br><br>
      Por último, é preciso notar que em certas alturas o logotipo da empresa será reproduzido a preto e branco. Como tal, é necessário garantir que o logotipo funciona mesmo sem cores, continuando a transmitir a mensagem pretendida.
      <br><br>
      De forma muito sucinta, apresentamos os significados mais associados a cada cor:<br>
      <u>Azul</u> – Honestidade, lealdade, responsabilidade, conservadorismo.<br>
      <u>Vermelho</u> – Ação, paixão, energia, velocidade.<br>
      <u>Verde</u>– Equilíbrio, segurança, riqueza, crescimento.<br>
      <u>Laranja</u> – Otimismo, entusiasmo, energia.<br>
      <u>Amarelo</u> – Alegria, imaginação, sabedoria, descontração.<br>
      <u>Roxo</u> – Realeza, sabedoria, sensibilidade.<br>
      <u>Rosa</u> – Carinho, romantismo, delicadeza, amor.<br>
      <u>Dourado</u> – Elegância, riqueza.<br>
      <u>Cinzento</u> – Equilíbrio, neutralidade, calma.<br>
      <u>Branco</u> – Pureza, simplicidade, paz.<br>
      <u>Preto</u> – Sofisticação, força.<br>
      <br>
      Se pretende criar uma marca ou fazer rebranding, fale connosco!
    </p>
  </div>
</div>
</div>

<div class="container container-xl">
  <div class="row text-center py-5">
      <div class="col-6">
        <a class="orange-border text-3-5" href="#">Anterior</a>
      </div>
      <div class="col-6">
        <a class="orange-border text-3-5" href="#">Seguinte</a>
      </div>
    </div>
  </div>
