<div class="container container-xl py-5">

  <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center pt-5 mt-5" data-sort-id="news" data-option-key="filter">
    <li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="#">Todas</a></li>
    <li class="nav-item" data-option-value=".web"><a class="nav-link text-1 text-uppercase" href="#">Web</a></li>
    <li class="nav-item" data-option-value=".marketing"><a class="nav-link text-1 text-uppercase" href="#">Design</a></li>
    <li class="nav-item" data-option-value=".design"><a class="nav-link text-1 text-uppercase" href="#">Marketing</a></li>
    <li class="nav-item" data-option-value=".others"><a class="nav-link text-1 text-uppercase" href="#">Outras</a></li>
  </ul>

  <div class="sort-destination-loader sort-destination-loader-showing mt-5 pt-5">
    <div class="row team-list sort-destination" data-sort-id="news">

      <div class="col-4 isotope-item web px-5 mb-5 pb-5">
        <h4 class="text-md-5 mb-5">COLOCAR AQUI O TÍTULO DA NOTÍCIA</h4>
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
          <span class="thumb-info-wrapper">
              <a href="{{url_base}}/blog/detalhe"><img src="{{url_base}}/assets/img/blog/small/blog1.png" class="img-fluid" alt=""></a>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-caption-text text-md-4 mt-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</span>
          </span>
        </span>
      </div>

      <div class="col-4 isotope-item marketing px-5 mb-5 pb-5">
        <h4 class="text-md-5 mb-5">COLOCAR AQUI O TÍTULO DA NOTÍCIA</h4>
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
          <span class="thumb-info-wrapper">
              <img src="{{url_base}}/assets/img/blog/small/blog2.png" class="img-fluid" alt="">
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-caption-text text-md-4 mt-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</span>
          </span>
        </span>
      </div>

      <div class="col-4 isotope-item design px-5 mb-5 pb-5">
        <h4 class="text-md-5 mb-5">COLOCAR AQUI O TÍTULO DA NOTÍCIA</h4>
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
          <span class="thumb-info-wrapper">
              <img src="{{url_base}}/assets/img/blog/small/blog3.png" class="img-fluid" alt="">
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-caption-text text-md-4 mt-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</span>
          </span>
        </span>
      </div>

      <div class="col-4 isotope-item web px-5 mb-5 pb-5">
        <h4 class="text-md-5 mb-5">COLOCAR AQUI O TÍTULO DA NOTÍCIA</h4>
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
          <span class="thumb-info-wrapper">
              <img src="{{url_base}}/assets/img/blog/small/blog4.png" class="img-fluid" alt="">
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-caption-text text-md-4 mt-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</span>
          </span>
        </span>
      </div>

      <div class="col-4 isotope-item web px-5 mb-5 pb-5">
        <h4 class="text-md-5 mb-5">COLOCAR AQUI O TÍTULO DA NOTÍCIA</h4>
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
          <span class="thumb-info-wrapper">
              <img src="{{url_base}}/assets/img/blog/small/blog5.png" class="img-fluid" alt="">
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-caption-text text-md-4 mt-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</span>
          </span>
        </span>
      </div>

      <div class="col-4 isotope-item web px-5 mb-5 pb-5">
        <h4 class="text-md-5 mb-5">COLOCAR AQUI O TÍTULO DA NOTÍCIA</h4>
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
          <span class="thumb-info-wrapper">
              <img src="{{url_base}}/assets/img/blog/small/blog6.png" class="img-fluid" alt="">
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-caption-text text-md-4 mt-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</span>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
