:root {
  --orange: #F7A127;
  --white: #FFFFFF;
  --black: #000000;
  --blue: #000F8F;
}

.close-button {
  background: var(--orange) !important;
}


/* Fonts */

.font-regular {
  font-family: GalanoRegular, open-sans;
}

.font-bold {
  font-family: GalanoBold, open-sans;
}

.font-semibold {
  font-family: GalanoSemiBold, open-sans;
}

.font-light {
  font-family: GalanoLight, open-sans;
}

.font-heavy {
  font-family: GalanoHeavy, open-sans;
}

/* Fonts Color */

.text-orange {
  color: var(--orange);
}


h1 {
  color: var(--white);
  font-family: GalanoRegular, open-sans;
}


.orange-border {
  -webkit-text-fill-color: var(--blue);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--orange);
  font-size: 10em !important;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-family: GalanoRegular, open-sans;
}

.blue-border {
  -webkit-text-fill-color: var(--blue);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black);
  font-size: 15em !important;
  text-transform: uppercase;
  font-family: GalanoRegular, open-sans;
}

.text-3-5 {
  font-size: 3.5em !important;
}

a:hover{
  text-decoration: none;
}


h3 {
  color: var(--orange);
  font-weight: 600;
  letter-spacing: 3px;
}

h4 {
  color: var(--white);
  font-family: GalanoRegular, open-sans;
  font-weight: 400;
}

/* Home */

.home-title {
  color: var(--white);
  text-transform: lowercase;
  font-weight: 500 !important;
  letter-spacing: 2px;
  position: absolute;
  left: 4em;
  top: 0.8em;
}

.home-text {
  position: absolute;
  left: 8.5em;
  top: 5em;
  line-height: 40px;
}

/* Rectangles */

.opacity-9 {
  opacity:0.9!important;
}

/* Home Rectangles */

.right_rec1 {
  position: absolute;
  right: 0;
  margin-top: 25em;
  width: 35rem;
  opacity: 0.7;
}

.left_rec1 {
  position: absolute;
  left: 4em;
  margin-top: 23em;
  width: 28rem;
  opacity: 0.7;
}

.right_rec2 {
  position: absolute;
  right: 0;
  margin-top: 8em;
  width: 26.5rem;
  opacity: 0.7;
}

.left_rec2 {
  position: absolute;
  left: 0;
  margin-top: 4em;
  width: 25rem;
  opacity: 0.7;
}

.right_rec3 {
  position: absolute;
  right: 0;
  margin-top: -3em;
  width: 26.5rem;
  opacity: 0.7;
}

/* Team Rectangles */

.right_rec4 {
  position: absolute;
  right: 0;
  margin-top: 18em;
  width: 27rem;
}

.left_rec3 {
  position: absolute;
  left: 0;
  margin-top: 6em;
  width: 14rem;
}

/* Team Bars */

.right_bars1 {
  position: absolute;
  right: 2em;
  margin-top: 2em;
}

.left_bars1 {
  position: absolute;
  left: 0em;
  margin-top: 8em;
}

.right_bars2 {
  position: absolute;
  right: 2em;
  margin-top: 25em;
  margin-right: -26em;
}

/* Home Bars  */

.right_bars3 {
  position: absolute;
  right: 35em;
  margin-top: 21em;
}

.left_bars2 {
  position: absolute;
  left: 2.5em;
  margin-top: 31em;
}

.right_bars4 {
  position: absolute;
  right: 20em;
  margin-top: 35em;
}

.left_bars3 {
  position: absolute;
  left: -5em;
  margin-top: 30em;
}

.right_bars5 {
  position: absolute;
  right: 22em;
  margin-top: 27em;
}



.hrfooter {
  border-bottom: 2px solid var(--white);
  width: 85%;
  margin: auto;
}

/* Background-Color */

.bg1 {
  background-color: var(--blue);
}

/* Team */


.p-team {
  font-size: 6.6em;
  font-family: GalanoRegular, open-sans;
  text-transform: uppercase;
  line-height: 1.2em;
  position: absolute;
  left: 2.5em;
  top: 7.5em;
  background-color: var(--blue);
  opacity: 0.8;
}

.thumb-info-name {
  font-family: GalanoRegular, open-sans;
}

.thumb-info-role {
font-family: GalanoLight, open-sans;
color: var(--orange);
text-transform: uppercase;
}
