@font-face {
  font-family: "GalanoRegular";
  src: local('GalanoGrotesqueAlt-Regular'), url('./fonts/GalanoGrotesqueAlt-Regular.woff2');
}

@font-face {
  font-family: "GalanoBold";
  src: local('GalanoGrotesqueAlt-Bold'), url('./fonts/GalanoGrotesqueAlt-Bold.woff2');
}

@font-face {
  font-family: "GalanoExtraBold";
  src: local('GalanoGrotesqueAlt-ExtraBold'), url('./fonts/GalanoGrotesqueAlt-ExtraBold.woff2');
}

@font-face {
  font-family: "GalanoSemiBold";
  src: local('GalanoGrotesqueAlt-SemiBold'), url('./fonts/GalanoGrotesqueAlt-SemiBold.woff2');
}

@font-face {
  font-family: "GalanoLight";
  src: local('GalanoGrotesqueAlt-Light'), url('./fonts/GalanoGrotesqueAlt-Light.woff2');
}

@font-face {
  font-family: "GalanoHeavy";
  src: local('GalanoGrotesqueAlt-Heavy'), url('./fonts/GalanoGrotesqueAlt-Heavy.woff2');
}
