<div class="row">
            	<div class="span7">
                	
                    <h1 class="error">#404</h1>
                    
                    <h1 class="text-center">{{exp_49.lg}}</h1>
                    
                    <br>
                    
                    <p>{{exp_50.lg}}</p>
                    
                </div><!-- end .span7 -->
                <div class="span5">
                	
                    <br><br>
                    
                    <h3>{{exp_51.lg}}</h3>
                    
                    <ul class="square">
                    	<li>
                        	<a href="{{url_base}}/inicio">{{exp_0.lg}}</a>
                        </li>
                        <li>
                        	<a href="{{url_base}}/fashion">{{exp_1.lg}}</a>
                        </li>
                        <li>
                        	<a href="{{url_base}}/supremedry">{{exp_2.lg}}</a>
                        </li>
                        <li>
                        	<a href="{{url_base}}/labor">{{exp_3.lg}}</a>
                        </li>
                        <li>
                        	<a href="{{url_base}}/processes">{{exp_4.lg}}</a>
                        </li>
                    </ul>
                    
                </div><!-- end .span5 -->              
            </div><!-- end .row -->
