<!DOCTYPE html>
<html class="side-header-hamburguer-sidebar side-header-hamburguer-sidebar-right side-header-above">

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>UNIFY</title>

	<meta name="keywords" content="UNA" />
	<meta name="description" content="Base de sites">
	<meta name="author" content="unify.pt">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{url_base}}/assets/img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="{{url_base}}/assets/img/apple-touch-icon.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400" rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="{{url_base}}/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{url_base}}/assets/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="{{url_base}}/assets/vendor/animate/animate.min.css">
	<link rel="stylesheet" href="{{url_base}}/assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="{{url_base}}/assets/vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="{{url_base}}/assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="{{url_base}}/assets/vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="{{url_base}}/assets/css/theme.css">
	<link rel="stylesheet" href="{{url_base}}/assets/css/theme-elements.css">
	<link rel="stylesheet" href="{{url_base}}/assets/css/theme-blog.css">
	<link rel="stylesheet" href="{{url_base}}/assets/css/theme-shop.css">
	<link rel="stylesheet" href="{{url_base}}/assets/css/fonts.css">


	<!-- Current Page CSS -->
	<link rel="stylesheet" href="{{url_base}}/assets/vendor/rs-plugin/css/settings.css">
	<link rel="stylesheet" href="{{url_base}}/assets/vendor/rs-plugin/css/layers.css">
	<link rel="stylesheet" href="{{url_base}}/assets/vendor/rs-plugin/css/navigation.css">

	<!-- Demo CSS -->


	<!-- Skin CSS -->
	<link rel="stylesheet" href="{{url_base}}/assets/css/skins/default.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="{{url_base}}/assets/css/custom.css">

	<!-- Head Libs -->
	<script src="{{url_base}}/assets/vendor/modernizr/modernizr.min.js"></script>

</head>
