<body>
	<div class="body">

		<div class="sticky-wrapper">
			<div class="sticky-body">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-1 text-right">
							<button class="hamburguer-btn hamburguer-btn-light " data-set-active="false">
								<img alt="hamburguer" width="50" src="{{url_base}}/assets/img/icons/bars.svg">
							</button>
						</div>
						<div class="col-10 text-center">
							<div class="">
								<a href="{{url_base}}">
									<img alt="UNIFY" width="140"  src="{{url_base}}/assets/img/logos/unify.svg">
								</a>
							</div>
						</div>
						<div class="col-1 p-0">
							<button class="btn btn-default btn-block text-md-3" data-set-active="false">
								UNA
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<header id="header" class="side-header side-header-lg side-header-hide d-flex">
			<div class="header-body">
				<div class="header-container container-fluid d-flex h-100">
					<div class="header-column flex-lg-column justify-content-center h-100">
						<div class="header-row header-row-side-header flex-row h-100 pb-5 mt-5 pt-5">
							<button class="hamburguer-btn hamburguer-btn-side-header close-button active" data-set-active="false">
								<span class="close">
									<span></span>
									<span></span>
								</span>
							</button>
							<div class="side-header-scrollable scrollable colored-slider" data-plugin-scrollable>
								<div class="scrollable-content">
									<div class="header-nav header-nav-links header-nav-links-side-header header-nav-links-vertical header-nav-links-vertical-expand header-nav-click-to-open align-self-start">
										<div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-4 header-nav-main-sub-effect-1">
											<nav>
												<ul class="nav nav-pills" id="mainNav">

													<li class=""> <a class="" href="{{url_base}}/equipa">a agência</a>
													</li>

													<li class=""> <a class="" href="{{url_base}}/portfolio">portfólio</a>
													</li>

													<li class=""> <a class="" href="{{url_base}}/blog">notícias</a>
													</li>


													<li class=""> <a class="" href="{{url_base}}/recrutamento">recrutamento</a>
													</li>


												</ul>

											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>



	{% if (module == 'Site' or module == 'Inicio') and action == 'index' %}
	{% include 'Includes/banner.html' %}
	{% endif %}
