<div class="container-fluid my-5 py-5 pr-5">
  <div class="row">
    <div class="col-8 pl-0">
      <h2 class="orange-border">rebranding</h2>
      <h3 class="home-title font-regular text-md-15">frutas classe</h3>
      <p class="text-light font-regular text-md-7 w-50 home-text pl-5">Nem sempre é fácil transmitir o sabor e as cores únicas da fruta fresca e acabada de colher. Mas foi exatamente isso a que nos propusemos. E o resultado é este trabalho repleto de vida e, que hoje é sinónimo, em todo o mundo, das Frutas Classe. Dá até vontade de comer!</p>
    </div>
    <div class="col-4 pr-5">
      <img src="{{url_base}}/assets/img/home/home1.png" alt="" class="img-fluid opacity-9">
      <img src="{{url_base}}/assets/img/icons/right_bars1.svg" class="right_bars3">
    </div>
    <img src="{{url_base}}/assets/img/icons/rectangle1.svg" class="right_rec1">
  </div>
</div>
<br><br><br><br>

<div class="container container-lg py-5">
  <div class="row">
    <div class="col-5 pr-5">
      <img src="{{url_base}}/assets/img/home/home2.png" alt="" class="img-fluid">
      <img src="{{url_base}}/assets/img/icons/right_bars1.svg" class="left_bars2">

    </div>
    <img src="{{url_base}}/assets/img/icons/rectangle2.svg" class="left_rec1">
    <div class="col-7 mt-5">
      <h2 class="orange-border">web design</h2>
      <h3 class="home-title font-regular text-md-15">obscuros</h3>
      <p class="text-light font-regular text-md-7 home-text pl-5">Todos nós adoramos roupa bonita e o conforto de nossa casa. E ninguém é propriamente fã de filas para pagar ou de provadores lotados. A UNIFY, em parceria com a Obscuros, juntou o útil ao agradável e concebeu uma loja online única, intuitiva e extremamente prática que lhe permite adquirir as mais belas peças de vestuário da sua marca favorita com todo o conforto e comodidade. E aos preços mais apelativos do mercado.</p>
    </div>
  </div>
</div>
<br><br><br><br>

<div class="container-fluid my-5 py-5 pr-5">
  <div class="row">
    <div class="col-8 pl-0">
      <h2 class="orange-border">marketing</h2>
      <h3 class="home-title font-regular text-md-15">famalicão on</h3>
      <p class="text-light font-regular text-md-7 w-50 home-text pl-5">Desenvolvido no seio da pandemia, e com o propósito altruísta de dotar pequenas e médias empresas do conselho de Famalicão com ferramentas para fazerem face às dificuldades causadas pelo Covid-19, o projeto Famalicão On ofereceu gratuitamente serviços de marketing e comunicação para promover os mais diversos produtos da nossa região.</p>
    </div>
    <div class="col-4 pr-5">
      <img src="{{url_base}}/assets/img/home/home3.png" alt="" class="img-fluid">
      <img src="{{url_base}}/assets/img/icons/right_bars1.svg" class="right_bars4">

    </div>
    <img src="{{url_base}}/assets/img/icons/rectangle3.svg" class="right_rec2">
  </div>
</div>
<br><br><br><br>
<div class="container container-lg py-5">
  <div class="row">
    <div class="col-5 pr-5">
      <img src="{{url_base}}/assets/img/home/home4.png" alt="" class="img-fluid">
    </div>
    <img src="{{url_base}}/assets/img/icons/rectangle4.svg" class="left_rec2">
    <img src="{{url_base}}/assets/img/icons/right_bars1.svg" class="left_bars3">
    <div class="col-7 mt-5">
      <h2 class="orange-border">editorial</h2>
      <h3 class="home-title font-regular text-md-15">roxa</h3>
      <p class="text-light font-regular text-md-7 home-text pl-5">Um catálogo com cerca de 30 páginas, num formato personalizado, que apresenta ao mercado a mais recente gama de utensílios da marca fundada em 1908 por António Fertuzinhos. Um design clássico e de luxo, que retrata a qualidade, credibilidade e inovação de cada uma das peças da nova coleção da ROXA.</p>
    </div>
  </div>
</div>
<br><br><br><br>

<div class="container-fluid my-5 py-5 pr-5">
  <div class="row">
    <div class="col-8 pl-0">
      <h2 class="orange-border">video</h2>
      <h3 class="home-title font-regular text-md-15">yarhu</h3>
      <p class="text-light font-regular text-md-7 w-50 home-text pl-5">Na geração do imediatismo e das redes sociais, os vídeos são umas das ferramentas mais criativas e persuasivas de contar uma narrativa e consolidar uma ativação de marca, principalmente quando o assunto são novos conceitos ou plataformas. No caso da YARHU, uma plataforma que serve a restauração de uma forma pioneira, este formato traduz-se não só numa maior familiaridade, mas principalmente numa maior taxa de adesão e um valor de marca exponencialmente maior. </p>
    </div>
    <div class="col-4 pr-5">
      <img src="{{url_base}}/assets/img/home/home5.png" alt="" class="img-fluid">
      <img src="{{url_base}}/assets/img/icons/right_bars1.svg" class="right_bars5">
    </div>
    <img src="{{url_base}}/assets/img/icons/rectangle5.svg" class="right_rec3">
  </div>
</div>

<div class="container container-lg text-center mt-5 pt-5">
  <div class="row">

    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/lars.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/alutaipas.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/obscuros.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/ferragens.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/htcozinhas.svg" alt="" class="img-fluid">
    </div>

    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/lingote.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/joph.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
    <img src="{{url_base}}/assets/img/logos/eurotecnologia.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/moot.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/nogueira.svg" alt="" class="img-fluid">
    </div>

    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/eirostec.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/guicamper.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/techbase.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
    <img src="{{url_base}}/assets/img/logos/cristema.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/lincut.svg" alt="" class="img-fluid">
    </div>

    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/segurtec.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/normendes.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/deprado.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/beatric.svg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1-5 py-4">
      <img src="{{url_base}}/assets/img/logos/interdive.svg" alt="" class="img-fluid">
    </div>



  </div>

</div>
