
<div class="container-fluid pt-5 text-white">
  <div class="row">
    <div class="col-1">

    </div>

    <div class="col-10 p-0">
      <img src="{{url_base}}/assets/img/generic/team.png" class="img-fluid" alt="" />

    </div>
    <div class="col-1">

    </div>
  </div>
</div>

  <p class="p-team px-4 py-5 w-50">Somos o reflexo dos nossos projectos</p>

<img src="{{url_base}}/assets/img/icons/right_bars1.svg" class="right_bars1">
<br><br><br><br><br><br><br><br><br>
<div class="container container-lg pb-5 mt-5">
  <div class="row ">
    <p class="text-orange font-regular text-md-4 mt-5 mb-0">Porque é a união que move o mundo.</p>
    <p class="text-light font-regular mb-5 text-md-4 line-height-md-9">O mundo é composto por sonhos e soluções. Nem sempre fáceis de se alcançar. Mas vence, por norma, quem não corre sozinho. Sempre que paramos para refletir, verificamos que a união de um conjunto de pessoas de diversos contextos e ramos de conhecimento significa a criação de algo ímpar e frutífero para a humanidade. E, é destas parcerias que brotam as mais belas conquistas da humanidade. Seja na medicina, tecnologia ou desporto, o trabalho de equipa, o espírito crítico e a vontade de superar desafios são os mais basilares pilares do caminho para o sucesso. E é esse caminho que nos queremos que faça connosco.
A UNIFY é uma agência de comunicação integrada, com um foco muito especial no mundo digital, pejada de mentes efervescentes e brilhantes. E sempre ao seu serviço. Tudo porque acreditamos ser possível transmitir a essência de cada um dos nossos parceiros através de peças únicas de comunicação, criando e retratando experiências e vivências através de letras, códigos e imagens.
</p>
  </div>
</div>

<h2 class="blue-border py-5 mt-3">Equipa</h2>
<div class="container-fluid px-5 mx-3 py-5 my-5">
  <div class="row mx-5 px-5">

    <div class="col-4 px-5">
      <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 text-justify">
        <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/team/eduardo.jpg" class="img-fluid mb-5" alt="">
        </span>
        <span class="thumb-info-caption">
          <span class="thumb-info-name text-md-8">Eduardo Silva</span>
          <br>
          <span class="thumb-info-role text-md-5">Ceo & Founder</span>
          <span class="thumb-info-caption-text text-md-4">Líder da nossa equipa, o Eduardo é o homem responsável pelas decisões mais difíceis e pelas melhores sugestões vitivinícolas e de campos de ténis da região.</span>
        </span>
      </span>
    </div>

    <div class="col-4 px-5">
      <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 text-justify">
        <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/team/micaela.jpg" class="img-fluid mb-5" alt="">
        </span>
        <span class="thumb-info-caption">
          <span class="thumb-info-name text-md-8">Micaela Dias</span>
          <br>
          <span class="thumb-info-role text-md-5">COPYWRITER & MARKETEER</span>
          <span class="thumb-info-caption-text text-md-4">A alma da Unify. Dona de um português irrepreensível e de um espírito criativo notável, a nossa Micaela gere todos os conteúdos e planeamentos dos nossos clientes. Tudo isto enquanto come uma gelatina.</span>
        </span>
      </span>
    </div>

    <div class="col-4 px-5">
      <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 text-justify">
        <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/team/sara.jpg" class="img-fluid mb-5" alt="">
        </span>
        <span class="thumb-info-caption">
          <span class="thumb-info-name text-md-8">Sara Azevedo</span>
          <br>
          <span class="thumb-info-role text-md-5">Graphic & Digital Designer</span>
          <span class="thumb-info-caption-text text-md-4">A voz de comando do departamento criativo, a Sara é um poço inesgotável de ideias brilhantes e layouts incríveis. Eficaz e sempre pronta a ajudar, destaca-se por ter uma gargalhada capaz de contagiar o mundo inteiro. Foi, em tempos, a dona da varanda da Unify.</span>
        </span>
      </span>
    </div>

    <div class="col-4 px-5">
      <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 text-justify">
        <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/team/adriana.jpg" class="img-fluid mb-5" alt="">
        </span>
        <span class="thumb-info-caption">
          <span class="thumb-info-name text-md-8">Adriana Machado</span>
          <br>
          <span class="thumb-info-role text-md-5">Graphic & Motion Designer</span>
          <span class="thumb-info-caption-text text-md-4">Responsável pela banda sonora do nosso trabalho, assunto sempre polémico, a Adriana é dona de um talento tremendo para criar peças únicas de design. E um feitio tão peculiar como o trabalho que tão bem faz e os pokemons que apanha.</span>
        </span>
      </span>
    </div>

    <div class="col-4 px-5">
      <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 text-justify">
        <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/team/renan.jpg" class="img-fluid mb-5" alt="">
        </span>
        <span class="thumb-info-caption">
          <span class="thumb-info-name text-md-8">Renan Vilas</span>
          <br>
          <span class="thumb-info-role text-md-5">FULL-STACK DEVELOPER</span>
          <span class="thumb-info-caption-text text-md-4">O camisa dez do nosso time, o Renan é o nosso craque programador e o maior fã dos vinhos Casal Garcia. Com um sotaque único e um vocabulário nerd interminável, o nosso mágico dos códigos só pede uma coisa: “Liga aí o ar-condicionado”.</span>
        </span>
      </span>
    </div>

    <div class="col-4 px-5">
      <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 text-justify">
        <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/team/Joana.jpg" class="img-fluid mb-5" alt="">
        </span>
        <span class="thumb-info-caption">
          <span class="thumb-info-name text-md-8">Joana Arantes</span>
          <br>
          <span class="thumb-info-role text-md-5">Web Developer</span>
          <span class="thumb-info-caption-text text-md-4">Com uma paciência infinita para trabalhar nos nossos sites, a Joana é responsável pela programação, gestão dos websites e suporte técnico que prestamos aos nossos clientes. Sempre amorosa e muito simpática, pedimos que tenha cuidado com os seus fones, a música dela não é para todos os ouvidos.</span>
        </span>
      </span>
    </div>

    <div class="col-4 px-5">
      <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 text-justify">
        <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/team/jose.jpg" class="img-fluid mb-5" alt="">
        </span>
        <span class="thumb-info-caption">
          <span class="thumb-info-name text-md-8">José Araújo</span>
          <br>
          <span class="thumb-info-role text-md-5">PROJECT manager</span>
          <span class="thumb-info-caption-text text-md-4">Chegou para pôr ordem nos nossos projetos e acabar com os nossos queixumes, tarefas apenas possíveis de concretizar pelos mais eficientes gestores. Sempre atento ao nosso trabalho, apenas é interrompido pelas chamadas com os clientes que já devem reconhecer quem é mal ouvem “Olhe, preciso de…”</span>
        </span>
      </span>
    </div>

    <div class="col-4 px-5">
      <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 text-justify">
        <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/team/sergio.jpg" class="img-fluid mb-5" alt="">
        </span>
        <span class="thumb-info-caption">
          <span class="thumb-info-name text-md-8">Sérgio Viana</span>
          <br>
          <span class="thumb-info-role text-md-5">financial & Human resources</span>
          <span class="thumb-info-caption-text text-md-4">O nosso homem dos números. Com ou sem óculos, é ele quem gere a organização da nossa casa e da papelada. E quem nos diz se as nossas férias foram aprovadas.</span>
        </span>
      </span>
    </div>

    <div class="col-4 px-5">
      <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 text-justify">
        <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/team/barbara.jpg" class="img-fluid mb-5" alt="">
        </span>
        <span class="thumb-info-caption">
          <span class="thumb-info-name text-md-8">Bárbara Silva</span>
          <br>
          <span class="thumb-info-role text-md-5">Marketing trainee</span>
          <span class="thumb-info-caption-text text-md-4">Se avistar, na nossa agência, t-shirts de super-heróis, uns belos cabelos ruivos e um sorriso dócil, de certeza que é a Bárbara. Brasileira de gema, e com muito orgulho, é uma verdadeira garantia de qualidade. Seja nos conteúdos, nas redes ou nas artes gráficas.</span>
        </span>
      </span>
    </div>

    <div class="col-4 px-5">
      <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 text-justify">
        <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/team/daniela.jpg" class="img-fluid mb-5" alt="">
        </span>
        <span class="thumb-info-caption">
          <span class="thumb-info-name text-md-8">Daniela Gonçalves</span>
          <br>
          <span class="thumb-info-role text-md-5">Graphic & editorial designer</span>
          <span class="thumb-info-caption-text text-md-4">Rainha das novelas da UNIFY, a Daniela forma com a Sara e a Adriana o triunvirato do design. Responsável pela ilustração das redes dos nossos parceiros, destaca-se pela organização, tempo de entrega e um café sempre por perto. E ouvimos dizer que gosta muito de bifanas.</span>
        </span>
      </span>
    </div>

    <div class="col-4 px-5">
      <span class="thumb-info thumb-info-hide-wrapper-bg mb-4 text-justify">
        <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/team/rui.jpg" class="img-fluid mb-5" alt="">
        </span>
        <span class="thumb-info-caption">
          <span class="thumb-info-name text-md-8">Rui Pinheiro</span>
          <br>
          <span class="thumb-info-role text-md-5">Web Developer Trainee</span>
          <span class="thumb-info-caption-text text-md-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit</span>
        </span>
      </span>
    </div>
  </div>

</div>

<img src="{{url_base}}/assets/img/icons/left_bars1.svg" class="left_bars1">
<h2 class="blue-border py-5">Serviços</h2>
<div class="container d-flex justify-content-center py-5 my-5">
  <div class="row w-75">

    <div class="col-12 mt-5">
      <h3 class="font-bold text-md-10">WEB DESIGN</h3>
    </div>

    <div class="col-12">
      <p class="font-regular text-md-4">
        Seja um site institucional ou uma loja de e-commerce, o espaço da sua empresa no mundo online deve ser visto como a sua casa virtual. E como qualquer outra empreitada, começa com o desenho do projeto (layout) e respetivas especialidades e
        personalizações (adaptado às necessidades especificas do seu produto ou serviço) e termina com a construção (neste caso do código). Tudo para que os seus clientes, mesmo via online, se sintam sempre em casa consigo.
      </p>
    </div>

    <div class="row px-5 mx-5 py-5">
      <div class="col-6 font-regular text-md-6 mb-3">WEBSITES</div>
      <div class="col-6 font-regular text-md-6 mb-3">E-COMMERCE</div>
      <div class="col-6 font-regular text-md-6 ">UI/UX</div>
      <div class="col-6 font-regular text-md-6 ">APPS</div>
    </div>
    <img src="{{url_base}}/assets/img/icons/rectangle3.svg" class="right_rec4">
  </div>
</div>

<div class="container container-lg py-5 my-5">
  <div class="row">
    <div class="col-12">
      <h3 class="font-regular text-md-10">BRANDING</h3>
    </div>
    <div class="col-12">
      <p class="font-regular text-md-4">
        O primeiro contacto com qualquer empresa ou produto é feito através da sua marca. Seja por um cartão de visita, logotipo ou qualquer outro elemento da sua identidade visual, fundamental é que transmita os ideais e valores do que representa. E
        quando a construção e consolidação de uma marca é forte o bastante, os seus símbolos ganham vida própria.
    </div>
  </div>

  <div class="col-12 font-regular mt-3 text-md-6 mb-3">NAMING</div>
  <div class="col-12 font-regular text-md-6">IDENTIDADE COOPORATIVA</div>
</div>


<div class="container container-md py-5 my-5">
  <div class="row">

    <div class="col-12">
      <h3 class="font-regular text-md-10">MARKETING</h3></div>

    <div class="col-12">
  <p class="font-regular text-md-4">
    A exposição de marcas e conteúdo promocional, principalmente no mundo das redes sociais, é algo tão natural nas nossas vidas, que muito provavelmente já não saberíamos viver sem eles. O nosso trabalho passa por construir e desenvolver conteúdos
    estratégicos para fomentar dinâmicas e criar comunidades curiosas e envolvidas com a sua marca.
  </p>
</div>

<div class="row px-5 mx-5 py-5">
  <div class="col-6 font-regular text-md-6 mb-3">PLANO DE MARKETING E COMUNICAÇÃO</div>
  <div class="col-6 font-regular text-md-6 mb-3">EMAIL E SMS MARKETING</div>
  <div class="col-6 font-regular text-md-6 mb-3">SEO & SEM</div>
  <div class="col-6 font-regular text-md-6 mb-3">WEB ANALYTICS</div>
  <div class="col-6 font-regular text-md-6">ESTRATÉGIA DIGITAL</div>
  <div class="col-6 font-regular text-md-6">ADS CAMPAIGNS</div>
</div>
<img src="{{url_base}}/assets/img/icons/rectangle4.svg" class="left_rec3">

</div>
</div>

<div class="container container-xl py-5 my-5">
  <img src="{{url_base}}/assets/img/icons/right_bars2.svg" class="right_bars2">

  <div class="row px-5 mx-2">
    <div class="col-6">
      <div class="col-12">
        <h3 class="font-regular text-md-10">EDITORIAL</h3>
      </div>
      <div class="col-12">
        <p class="font-regular text-md-4 pr-5 mr-5">Nós somos peritos na arte de contar histórias. E no nosso dia-a-dia, isso é espelhado em diversos projetos editoriais. Seja escrever, ilustrar ou fotografar, o fundamental é que todas as nossas revistas, livros, brochuras, catálogos e newsletters sejam um retrato fiel da arte e trabalho dos nossos parceiros.</p>
        <div class="col-12 font-regular text-md-6 mb-3 mt-5">PAGINAÇÃO</div>
        <div class="col-12 font-regular text-md-6 mb-3">COPYWRITING</div>
        <div class="col-12 font-regular text-md-6">STORYTELLING</div>
      </div>
    </div>

    <div class="col-6 mt-5 pt-5">
      <div class="col-12">
        <h3 class="font-regular mt-5 text-md-10">VIDEO</h3>
      </div>
      <div class="col-12">
        <p class="font-regular text-md-4 pr-5 mr-5">Já todos nós sabemos que uma imagem vale mais do que mil palavras. Mas com um propósito bem definido, um guião bem escrito e dois ou três truques de edição, um vídeo pode ser o elo de ligação mais eficaz entre uma marca e os seus clientes. O importante é deixar que as imagens contem a sua história. </p>
          <div class="col-12 font-regular text-md-6 mb-3 mt-5">PROMOCIONAL</div>
          <div class="col-12 font-regular text-md-6">COORPORATIVO</div>
      </div>
    </div>
  </div>
</div>
